<footer id="ft-footer" [class.ft-footer--shop]="isShopPage">
  <div class="container">
    <p class="ft-footer__copyright text-center">
      &copy; 2019. by <a href="https://smartinit.net/" target="_blank">SmartInIT</a>. Created by Nataša
    </p>
  </div>
</footer>
