@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/general";

#ft-navbar {
  background-color: $white !important;
  border-bottom: 0.3125rem solid $gray;

  .navbar-brand {
    img {
      width: 5rem;
    }
  }

}
