<div id="ft-map">
  <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=19.14779663085938%2C44.9715991458543%2C20.19973754882813%2C45.537136680398596&amp;layer=cyclemap" style="border: 1px solid black"></iframe>
</div>
