<form class="ft-contact__contact-form">

  <div class="form-row">

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputName">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>

    <div class="form-group col-md-6">
      <label class="sr-only" for="inputEmail">Email</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputSubject">Subject</label>
      <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
    </div>

    <div class="form-group col-md-12">
      <label class="sr-only" for="inputTextarea">Message</label>
      <textarea class="form-control" id="inputTextarea" placeholder="Message" rows="4"></textarea>
    </div>

    <button type="button" class="ft-btn btn btn-link btn-lg btn-block">Send</button>

  </div>

</form>
