<section id="ft-shop">

  <div class="container">

    <!-- HOME PAGE -->
    <ng-container *ngIf="isHomePage">

      <div class="ft-shop-gallery ft-shop-gallery--featured row">

        <div *ngFor="let product of products | slice:0:6; let i=index" class="ft-shop-gallery__item col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">

          <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

            <!--  Image -->
            <div class="ft-shop-gallery__image-wrap">
              <img class="ft-shop-gallery__image img-fluid" src="{{product.imageUrl}}" alt="{{product.name}}" >
              <div class="ft-shop-gallery__overlay">
                <button (click)="open(content, product)" type="button" class="ft-btn btn btn-dark">Quick look</button>
              </div>
            </div>

            <div class="ft-shop-gallery__name-and-price" (mouseover)="animate()" [@hoverBorder]="currentState">

              <!--  Name -->
              <div class="ft-shop-gallery__name">{{product.name}}</div>

              <!--  Price -->
              <div class="ft-shop-gallery__price">
                {{product.price}}
                <span class="ft-shop-gallery__currency">din</span>
              </div>

              <button (click)="addToCart(product)">Add to cart</button>

            </div>

            <!-- Product tags -->
            <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller">
              <span>
                <ng-container *ngIf="product.tagNew">New</ng-container>
                <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                <ng-container *ngIf="product.tagSale">Sale</ng-container>
              </span>
            </div>

          </div>

        </div>

      </div>

      <!-- Load more btn -->
      <div class="ft-shop-button">
        <a routerLink="/shop" role="button" class="ft-btn btn btn-outline-dark btn-lg">Load more</a>
      </div>

    </ng-container>

    <!-- SHOP PAGE -->
    <ng-container *ngIf="isShopPage">

      <div class="ft-shop-tabs__wrap">

        <h3 class="ft-shop-tabs__title">Categories</h3>

        <div class="ft-shop-tabs">

          <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="ft-shop-tabs__nav nav-tabs">

            <li [ngbNavItem]="1">

              <a ngbNavLink>Living Room</a>

              <ng-template ngbNavContent>

                <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                  <div *ngFor="let product of livingRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                      <!--  Image -->
                      <div class="ft-shop-gallery__image-wrap">
                        <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                        <div class="ft-shop-gallery__overlay">
                          <button (click)="open(content, product)" type="button" class="ft-btn btn btn-dark">Quick look</button>
                        </div>
                      </div>

                      <div class="ft-shop-gallery__name-and-price" (mouseover)="animate()" [@hoverBorder]="currentState">

                        <!--  Name -->
                        <div class="ft-shop-gallery__name">{{product.name}}</div>

                        <!--  Price -->
                        <div class="ft-shop-gallery__price">
                          {{product.price}}
                          <span class="ft-shop-gallery__currency">din</span>
                        </div>

                      </div>

                      <!-- Product tags -->
                      <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                        <span>
                          <ng-container *ngIf="product.tagNew">New</ng-container>
                          <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                          <ng-container *ngIf="product.tagSale">Sale</ng-container>
                        </span>
                      </div>

                    </div>

                  </div>

                </div>

                <!-- No products -->
                <div class="ft-no-products" *ngIf="livingRoomProducts.length === 0">
                  <img class="ft-no-products__image" src="../../assets/images/shop/no-products-found.jpg" alt="Logo">
                  <p class="ft-no-products__text">No products found in this category</p>
                </div>

              </ng-template>



            </li>

            <li [ngbNavItem]="2">

              <a ngbNavLink>Bedroom</a>

              <ng-template ngbNavContent>

                <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                  <div *ngFor="let product of bedRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                      <!--  Image -->
                      <div class="ft-shop-gallery__image-wrap">
                        <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                        <div class="ft-shop-gallery__overlay">
                          <button (click)="open(content, product)" type="button" class="ft-btn btn btn-dark">Quick look</button>
                        </div>
                      </div>

                      <div class="ft-shop-gallery__name-and-price" (mouseover)="animate()" [@hoverBorder]="currentState">

                        <!--  Name -->
                        <div class="ft-shop-gallery__name">{{product.name}}</div>

                        <!--  Price -->
                        <div class="ft-shop-gallery__price">
                          {{product.price}}
                          <span class="ft-shop-gallery__currency">din</span>
                        </div>

                      </div>

                      <!-- Product tags -->
                      <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                        <span>
                          <ng-container *ngIf="product.tagNew">New</ng-container>
                          <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                          <ng-container *ngIf="product.tagSale">Sale</ng-container>
                        </span>
                      </div>

                    </div>

                  </div>

                </div>

                <!-- No products -->
                <div class="ft-no-products" *ngIf="bedRoomProducts.length === 0">
                  <img class="ft-no-products__image" src="../../assets/images/shop/no-products-found.jpg" alt="Logo">
                  <p class="ft-no-products__text">No products found in this category</p>
                </div>

              </ng-template>

            </li>

            <li [ngbNavItem]="3">
              <a ngbNavLink>Kitchen</a>
              <ng-template ngbNavContent>

                <div class="ft-shop-gallery ft-shop-gallery--categorized row">

                  <div *ngFor="let product of kitchenProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                    <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                      <!--  Image -->
                      <div class="ft-shop-gallery__image-wrap">
                        <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                        <div class="ft-shop-gallery__overlay">
                          <button (click)="open(content, product)" type="button" class="ft-btn btn btn-dark">Quick look</button>
                        </div>
                      </div>

                      <div class="ft-shop-gallery__name-and-price" (mouseover)="animate()" [@hoverBorder]="currentState">

                        <!--  Name -->
                        <div class="ft-shop-gallery__name">{{product.name}}</div>

                        <!--  Price -->
                        <div class="ft-shop-gallery__price">
                          {{product.price}}
                          <span class="ft-shop-gallery__currency">din</span>
                        </div>

                      </div>

                      <!-- Product tags -->
                      <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                        <span>
                          <ng-container *ngIf="product.tagNew">New</ng-container>
                          <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                          <ng-container *ngIf="product.tagSale">Sale</ng-container>
                        </span>
                      </div>

                    </div>

                  </div>

                </div>

                <!-- No products -->
                <div class="ft-no-products" *ngIf="kitchenProducts.length === 0">
                  <img class="ft-no-products__image" src="../../assets/images/shop/no-products-found.jpg" alt="Logo">
                  <p class="ft-no-products__text">No products found in this category</p>
                </div>

              </ng-template>
            </li>

            <li [ngbNavItem]="4">

              <a ngbNavLink>Bathroom</a>

              <ng-template ngbNavContent>

                <div *ngFor="let product of bathRoomProducts" class="ft-shop-gallery__item col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

                  <div class="ft-shop-gallery__item__content" [@fadeInAnimation]>

                    <!--  Image -->
                    <div class="ft-shop-gallery__image-wrap">
                      <img class="ft-shop-gallery__image img-fluid" src="{{product.imageByCategoryUrl}}" alt="{{product.name}}" >
                      <div class="ft-shop-gallery__overlay">
                        <button (click)="open(content, product)" type="button" class="ft-btn btn btn-dark">Quick look</button>
                      </div>
                    </div>

                    <div class="ft-shop-gallery__name-and-price" (mouseover)="animate()" [@hoverBorder]="currentState">

                      <!--  Name -->
                      <div class="ft-shop-gallery__name">{{product.name}}</div>

                      <!--  Price -->
                      <div class="ft-shop-gallery__price">
                        {{product.price}}
                        <span class="ft-shop-gallery__currency">din</span>
                      </div>

                    </div>

                    <!-- Product tags -->
                    <div class="ft-shop-gallery__item__tag" *ngIf="product.tagNew || product.tagBestSeller || product.tagSale">
                        <span>
                          <ng-container *ngIf="product.tagNew">New</ng-container>
                          <ng-container *ngIf="product.tagBestSeller">Best seller</ng-container>
                          <ng-container *ngIf="product.tagSale">Sale</ng-container>
                        </span>
                    </div>

                  </div>

                </div>

                <!-- No products -->
                <div class="ft-no-products" *ngIf="bathRoomProducts.length === 0">
                  <img class="ft-no-products__image" src="../../assets/images/shop/no-products-found.jpg" alt="Logo">
                  <p class="ft-no-products__text">No products found in this category</p>
                </div>

              </ng-template>

            </li>

          </ul>

          <div [ngbNavOutlet]="nav" class="ft-shop-tabs__content ml-3"></div>

        </div>

      </div>

    </ng-container>



    <!-- Modal -->

    <ng-template #content let-modal>

        <form class="ft-quick-look__form">

          <div class="modal-header">
            <button (click)="modal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

              <div class="row justify-content-center">

                <div class="ft-quick-look__image-wrap col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <img class="ft-quick-look__image img-fluid" src="{{activeProduct.imageUrl}}" alt="{{activeProduct.name}}">
                </div>

                <div class="ft-quick-look__form-wrap col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                  <h2 class="ft-quick-look__product-name">{{activeProduct.name}}</h2>

                  <div class="ft-quick-look__id">id: {{activeProduct.id}}</div>

                  <div class="ft-quick-look__price">{{activeProduct.price}},00 din</div>

                  <div class="ft-quick-look__size form-group">
                    <label for="quickLookSizeSelect">Size</label>
                    <select class="form-control" id="quickLookSizeSelect">
                      <option>Small</option>
                      <option>Medium</option>
                      <option>Large</option>
                    </select>
                  </div>

                  <div class="ft-quick-look__quantity form-group">
                    <label for="quickLookEnterQuantity" class="">Quantity</label>
                    <input type="number" class="form-control" id="quickLookEnterQuantity">
                  </div>

                </div>

              </div>

          </div>

        <div class="modal-footer">

          <div class="ft-quick-look__button">
            <button type="button" class="ft-btn btn btn-dark" (click)="modal.close('Save click')">Add to cart</button>
          </div>

        </div>

        </form>

    </ng-template>


  </div>

</section>
